[project]
	description = A school project where we developed a compiler for a fictional language called minijava.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Botu Sun (gameboy1024)
[access "refs/for/refs/*"]
	read = group user/Botu Sun (gameboy1024)
	push = group user/Botu Sun (gameboy1024)
	label-Code-Review = -2..+2 group user/Botu Sun (gameboy1024)
	label-Verified = -1..+1 group user/Botu Sun (gameboy1024)
	rebase = group user/Botu Sun (gameboy1024)
	removeReviewer = group user/Botu Sun (gameboy1024)
	submit = group user/Botu Sun (gameboy1024)
[access "refs/heads/*"]
	read = group user/Botu Sun (gameboy1024)
	create = group user/Botu Sun (gameboy1024)
	push = +force group user/Botu Sun (gameboy1024)
	pushMerge = group user/Botu Sun (gameboy1024)
[access "refs/tags/*"]
	push = group user/Botu Sun (gameboy1024)
	push = +force group user/Botu Sun (gameboy1024)
